<%= display_title("Log In") %>

<%= render 'layouts/errors', { object: @user } %>
<br><br>
<%= form_for(@user, url: login_path ) do |f| %>
  <div class="form-group col-md-6">
    <%= f.label :username, class: "col-form-label" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :password, class: "col-form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <%= f.submit "Log In", class: "#{submit_button_classes} ml-3" %>
<% end %>