<%= display_title("Edit #{@owned_game.game.title} Ownership") %>

<%= form_with(model: @owned_game, url: owned_game_path(@owned_game)) do |f| %>
  <%= f.label :platform_ids, "Select Platform(s)", class: "col-form-label" %>

  <div class="form-row align-items-center">
    <% @owned_game.game.platforms.each do |p| %>
      <div class="form-check">
        <%= check_box_tag :platform_ids, p.name, current_user.owns_game_platform?(@owned_game.game.id, p.id), class: "form-check-input"  %>
        <%= f.label :completed, p.name, class: "form-check-label mr-3" %>
      </div>

    <% end %>
  </div>



  <%= f.submit "Update", class: submit_button_classes %>
<% end %>