<%= display_title("Add #{@game.title} to Your Collection") %>

<p><%= @game.summary %></p>

<%= form_for(:owned_game, url: game_owned_games_path) do |f| %>
  <%= f.label :platform_ids, "Select Platform(s)" %><br>
  <%= f.collection_check_boxes(:platform_ids, @game.platforms, :id, :name, checked: false) %>
  <div class="form-check">
    <%= f.radio_button :want_to_play, "want_to_play", class: "form-check-input" %>
    <%= f.label :want_to_play, class: "form-check-label"  %>
  </div>
  <div class="form-check">
    <%= f.radio_button :currently_playing, "currently_playing", class: "form-check-input" %>
    <%= f.label :currently_playing, class: "form-check-label"  %>
  </div>
  <div class="form-check">
    <%= f.radio_button :completed, "completed", class: "form-check-input" %>
    <%= f.label :completed, class: "form-check-label"  %>
  </div>

  <%= f.hidden_field :game_id, value: @game.id %>

  <div class="row">
    <%= f.submit "Add to Collection", class: submit_button_classes %>
    <%= link_to "Cancel", games_path, class: "btn btn-danger mt-4 ml-2" %>
  </div>
<% end %>