<h1>Add <%= @game.title %> to Your Collection</h1>
<p><%= @game.summary %></p>

<%= form_for(:owned_game, url: game_owned_games_path) do |f| %>
  <%= f.label :platform_ids, "Select Platform(s)" %><br>
  <%= f.collection_check_boxes(:platform_ids, @game.platforms, :id, :name, checked: false) %>
  <br><br>

  <%= f.label "Select Status" %><br>
  <%= f.check_box :currently_playing %>
  <%= f.label :currently_playing %>

  <%= f.check_box :want_to_play %>
  <%= f.label :want_to_play %>

  <%= f.check_box :completed %>
  <%= f.label :completed %>

  <%= f.hidden_field :game_id, value: @game.id %>
  <%= f.submit "Add to Collection" %>
<% end %>