<%= display_title("Games") %>

<% if !@games %>
  <h2 class="display-2 text-center">Games will show up once users start adding them!</h2>
<% else %>
  <ul class="list-group">
    <% @games.each do |game| %>
      <li class="list-group-item d-flex  align-items-center">
        <div class="col-4">
          <%= link_to game.title, game_path(game), class: "text-dark font-weight-bolder" %>
        </div>
        <div class="col-4">
          <h6><%= render 'game_platforms', { game: game } %></h6>
        </div>
        <div class="col-4 text-right">
           <% if game.platforms.any? { |p| current_user.owns_game_platform?(game.id, p.id) } %>
            <span class="badge badge-success badge-pill"><%= current_user.find_owned_game_by_game_id(game.id).status %></span>
          <% else %>
            <%= link_to "Add Game to Collection", new_game_owned_game_path(game) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>