<h1><%= @game.title %></h1>
<%= link_to "Add Game", user_collection_add_game_path(user_id: current_user, game_id: @game.id) %>

<%= link_to "Edit Game Info", edit_game_path(@game) if @game.custom %>

<p><strong>Platforms:</strong></p>

<% @game.platforms.each do |p| %>
  <%= p.name %>
<% end %>

<p><%= @game.summary %></p>

<% if @owned_game %>
  <h3>You own this game on <%= owned_platforms_as_string(current_user, @game) %> </h3>

  <hr>

  <%= form_for(@owned_game, url: collection_remove_game_path(@game), method: 'delete') do |f| %>
    <%= f.submit "Delete From Collection", data: { confirm: 'Are you Sure? You will lose all your notes'} %>
  <% end %>

  <h3>Notes/Objectives</h3>
  <%= link_to "Add Note", new_game_note_path(@game) %>
  <br>

  <% @owned_game.notes.sort_newest_first.each do |note| %>
    <hr>
    <div>
      <p><%= note.title %></p>
      <%= human_readable_datetime(note.created_at) %>
      <% if note.completed %>
        <p><strong>Objective Completed</strong></p>
      <% end %>

      <p><%= note.content %></p>
      <%= link_to "Edit Note", edit_note_path(note) %>
      <%= button_to "Delete Note", note_path(note), method: 'delete', data: { confirm: "Are you sure? This cannot be undone."} %>
    </div>
  <% end %>

<% end %>

