
<h1><%= @game.title %> <%= "[Custom]" if @game.custom %></h1>
<%= link_to "Edit", edit_game_path(@game) if @game.custom %>

<p><strong>Platforms:</strong></p>

<% @game.platforms.each do |p| %>
  <%= p.name %>
<% end %>

<p><%= @game.summary %></p>

<% if @owned_game %>
  <hr>

  <%= form_for(@owned_game, url: collection_remove_game_path(@game), method: 'delete') do |f| %>
    <%= f.submit "Delete From Collection", data: { confirm: 'Are you Sure? You will lose all your notes'} %>
  <% end %>

  <h3>Notes</h3>
  <%= link_to "Add Note", new_game_note_path(@game) %>
  <br>

  <% @owned_game.notes.sort_newest_first.each do |note| %>
    <hr>
    <div>
      <p><%= note.title %></p>
      <p><%= note.content %></p>
      <%= link_to "Edit Note", edit_note_path(note) %>
    </div>
  <% end %>

<% end %>

